<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDTEService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceProxy" />
                <binding name="WSHttpBinding_IServiceProxy1">
                    <security mode="Transport" />
                </binding>
                <binding name="WSHttpBinding_IServiceProxy11">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDTEService" contract="WCFService.IDTEService"
                name="BasicHttpBinding_IDTEService" />
            <endpoint address="http://localhost:8080/GetCustomer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDTEService" contract="WCFService.IDTEService"
                name="BasicHttpBinding_IDTEService1" />
            <endpoint address="http://localhost:8080/UpdateCustomer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDTEService" contract="WCFService.IDTEService"
                name="BasicHttpBinding_IDTEService2" />
            <endpoint address="http://localhost:8080/GetToken" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDTEService" contract="WCFService.IDTEService"
                name="BasicHttpBinding_IDTEService3" />
            <endpoint address="http://localhost:8080/GetMessage" binding="wsHttpBinding"
                contract="WcfServiceProxy.IServiceProxy" name="WSHttpBinding_IServiceProxy">
                <identity>
                    <servicePrincipalName value="host/CLAVE-DELL13" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/GetDataUsingDataContract"
                binding="wsHttpBinding" contract="WcfServiceProxy.IServiceProxy"
                name="WSHttpBinding_IServiceProxy1">
                <identity>
                    <servicePrincipalName value="host/CLAVE-DELL13" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/GetToken" binding="wsHttpBinding"
                contract="WcfServiceProxy.IServiceProxy" name="WSHttpBinding_IServiceProxy2">
                <identity>
                    <servicePrincipalName value="host/CLAVE-DELL13" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8443/ServiceProxy/GetToken"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceProxy1"
                contract="WcfHttpsServiceProxy.IServiceProxy" name="WSHttpBinding_IServiceProxy3">
                <identity>
                    <userPrincipalName value="CLAVE-DELL13\Douglas" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8443/ServiceProxy/GetMessage"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceProxy11"
                contract="WcfHttpsServiceProxy.IServiceProxy" name="WSHttpBinding_IServiceProxy11" />
        </client>
    </system.serviceModel>
</configuration>